.card {
  &.card--light {
    border-color: $gray-400;
    background: $white;

    & + .card {
      margin-top: $grid-gutter-width / 2;
    }

    .card-body {
      padding: $grid-gutter-width / 2;
    }

    .card-title,
    .card-details {
      margin-bottom: 10px;
    }

    .card-details {
      margin-left: 10px;
      color: $gray-600;
      font-size: 15px;
      line-height: 1;
    }
  }
}

@include media-breakpoint-up(md) {
  .card {
    &.card--light {
      transition: .3s;

      .card-body {
        display: flex;
        align-items: center;
      }

      .card-title,
      .card-details {
        margin-bottom: 0;
      }

      .card-action {
        margin-left: auto;
      }
    }
  }
}
